/* Imports */
@import url('https://fonts.googleapis.com/css?family=Karla');

p, h1, h2 {
    color: red;
}

h3 {
    color: orange;

}

a {
    text-decoration: none;
    color: white;
}

.thing {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.games {
    border-radius: 70px;
}

.gamebanner {
    width: -webkit-fill-available;
    height: 300px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

html {
    font-family: 'Karla';
    background-color: #000000;
}

.footer {
    color: red;
    clear: both;
    position: fixed;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2b2929;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  }

li a {
    color: orange;
    padding: 8px 60px;
    margin: 0;
    /* float: inherit; */
    text-align: center;
   
    border-radius: 300px;
    background-color: red;
    font-size: 25px;
    text-decoration: none;
}

.background {
    background-image: url("../img/background.jpg");
    padding: 100px 0 110px;
    position: relative;
    padding: 50px 0 110px;
    border: 0
}

ol {
    color: red;
}

.button {
    padding: 10px 100px !important;
    background-color: red;
    min-height: 32px !important;
    font-weight: bold;
    border-radius: 20px;
    
}
/* Code examples */

/* CSS made by Razorr */